/****  leftmenu  *****/

.leftmenu {
  display: inline-block;
  width: 200px;
  height: 100%;
  background-color: #011D5C;
}

.leftmenu_one {
  width: 100%;
  height: 54px;
  color: white;
  line-height: 54px;
  font-size: 12px;
  /* text-align: center; */
}

.leftmenu_img {
  display: inline-block;
  width: 22px;
  height: 22px;
}


/****  header ******/

.header {
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #011D5C;
}

.tab_Button {
  display: inline-block;
  width: 40px;
  height: 20px;
  background: #ddd;
  border-radius: 10px 10px 0 0;
  margin-left: 14px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  margin-top: 22px;
}


/****  viewPage ******/

.viewPage {
  display: inline-block;
  width: calc(100% - 200px);
  height: 100%;
}


/****  storeDetail ******/

.store_title {
  padding: 16px 0 16px 23px;
  font-size: 16px;
  font-weight: 600;
  height: 53px;
  width: 100%;
}

.main_view {
  background-color: #ddd;
  width: 100%;
  height: 983px;
}

.main_view {
  padding: 22px;
}

.store_expected_box {
  display: inline-block;
  width: 100%;
  height: 138px;
  background-color: white;
}

.store_expected_box_top {
  width: 100%;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #8f8f8f;
  font-size: 15px;
  color: #666;
  padding-left: 20px;
}

.store_expected_box_line {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
}

.box_line {
  width: 25%;
  height: 100%;
  display: inline-block;
}

.box_line_left {
  width: 114px;
  height: 100%;
  background-color: #f3f3f3;
  text-align: center;
  display: inline-block;
}

.box_line_right {
  width: 262px;
  height: 100%;
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}

/****** storeInquiry  *******/

.storeInquiry_box {
  width: 100%;
  height: 268px;
  background-color: white;
  border: 1px solid #d9d9d9;
  margin-top: 20px;
}

.box_c1 {
  border: 1px solid #d9d9d9;
  height: 195px;
  width: 100%;
  padding: 17px;

}

.box_l2 {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

.select_box {
  display: inline-block;
  width: 135px;
  height: 32px;
  border: 1px solid #464C52;
  border-radius: 8px;
  padding: 6px 12px;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  position: relative;
}

.select_box2 {
  display: inline-block;
  width: 328px;
  height: 32px;
  border: 1px solid #464C52;
  border-radius: 8px;
  padding: 6px 12px;
  margin-right: 10px;
  /* color: #9EA4AA; */
}

.select_box3 { 
  display: inline-block;
  width: 135px;
  height: 32px;
  border: 1px solid #464C52;
  border-radius: 8px;
  padding: 6px 12px;
  margin-right: 10px;
}

.date_box {
  position: absolute;
  top: 100px;
}

.react-datepicker__tab-loop {
  display: inline-block;
}

.r_button {
  display: inline-block;
  width: 60px;
  height: 32px;
  border-radius: 30px;
  text-align: center;
  line-height: 32px;
  background-color: #E8EBED;
  margin-left: 10px;
  cursor: pointer;
}

.r_button.on {
  background-color: #2550D3;
  color: white;
}

.button_box{
  display: flex;
  justify-content: center;
}

.button_style1 {
  width: 73px;
  height: 42px;
  border-radius: 4px;
  /* padding: 12px 24px; */
  margin-top:15px;
  border: 1px solid #9EA4AA;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
}

.button_style1.on {
  background-color: #2550D3;
  margin-right: 8px;
  color: white;
}

.search_result_box{
  width: 100%;
  height: 400px;
  background-color: white;
}

.search_text_line {
  height: 50px;
  width: 100%;
  padding-top: 25px;
  padding-left: 7px;
}
.button_excel {
  display: inline-block;
}

.chart_line {
  display: inline-block;
  height: 44px;
}

.chart_line.checkbox {
  width: 53px;
}

.chart_line.no {
  width: 50px;
}

.chart_line.code {
  width: 142px;
}

.chart_line.date {
  width: 112px;
}

.chart_line.code {
  width: 81px;
}

.chart_line.date {
  width: 112px;
}

.chart_line.buy {
  width: 82px;
}

.select_box_container {
  width: 130px;
  /* height: 73px; */
  position: absolute;
  top: 31px;
  left: 0;
  padding: 6.5px;
  background-color: white;
  border: 1px solid #464C52;
  border-radius: 7px;
  z-index: 2;
  font-size: 14px;
}

.select_box_one{ 
  width: 100%;
  height: 20px;
  line-height: 20px;
}

.box_l1 {
  margin-top: 30px;
  width: 487px;
  display: inline-block;
  font-size: 13px;
}

.box_l1_s1 {
  display: inline-block;
  width: 145px;
  font-size: 13px;
}

.summary_box {
  width: 100%;
  height: 98px;
  border-radius: 1px solid #d9d9d9;
  background-color: white;
  padding: 0 0 15px 30px
}

.summary_img_box {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: #9EA4AA;
  display: inline-block;
}

.summary_container {
  display: inline-block;
  width: 185px;
  height: 49px;
  margin-top: 28px;
}

.summary_text_top {
  display: inline-block;
  width: 130px;
  height: 20px;
  vertical-align: top;
  margin-left: 5px;
}

.summary_text_box {
  display: inline-block;
  width: 130px;
  height: 50px;
  vertical-align: bottom;
  margin-left: 6px;
}

.summary_text_h {
  font-size: 26px;
  color: blue;
  margin-right: 5px;
}

.css-rtrcn9-MuiTablePagination-root:last-child {
  display: none;
}

.pageNum_box {
  display: inline-block;
  margin-top:20px;
}

.page_button {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.page_button:hover {
  background-color: #2550D3;
  color:white;
}

.page_box {
  text-align: center; 
}

.product_box {
  width: 100%;
  height: 182px;
  margin-top: 30px;
  background-color: white;
}


.graph_header {
  background-color: #C9CDD2;
  height: 40px;
}

.graph-header {
  background-color: #C9CDD2;
  color: white;
  text-align: center;
  padding: 0;
}

.selectCheckbox {
  border:1px solid #7c7cf0;
  vertical-align: middle;
  margin-right: 5px;
}

/***** memo ******/ 


.memoPopup {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.dim {
  background-color: #000000AB;
    width: 100%;
    height: 100%;
}

.memoPopup_layer {
  position: absolute;
  right: 0;
  top: 0;
  width: 730px;
  height: 100%;
  background: white;
}

.main {
  width: 100%;
  height: 1080px;
  display: inline-block;
}

.memo_header {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  padding-left: 14px;
  line-height: 50px;
  border-bottom: 1px solid #9A9A9A;
}

.memo_box {
  width: 701px;
  height: 69px;
  margin-top: 6px;
  margin-left: 15px;
  border: 1px solid #D9D9D9;
  padding:10px;
}

.memo_title {
  font-weight: 600;
}

.memo_input {
  width: 594px;
  height: 87px;
  border: 1px solid #72787f;
  margin-top: 10px;
  border-radius: 8px;
  margin-left: 15px;
  padding: 10px;
}

.memo_top {
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #ddd;
}

.memo_bottom {
  display: inline-block;
  width: 100%;
  height: 600px;
  margin-top:30px;
  padding:20px;
}